/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

:root {
    --main-blue-color: #0065FC;
    --main-light-grey-color: #F2F2F2;
    --main-grey-color: #D9D9D9;
    --main-black-color: #000000;
    --filter-bg-color: #DEEBFF;
    --main-white-color: #FFFFFF;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    min-width: 320px;
}

/** Container général header, main, footer**/
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/** general provisoire **/
h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

i {
    font-size: 18px;
}

input {
    font-size: 18px;
    font-weight: 700;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 33.33%;
    height: auto;
}

.header-nav ul {
    display: flex;
    align-items: flex-start;
    gap: 68px;
    list-style: none;
}

/** to do: faire évoluer ces lien en bouton? **/
.header-nav a {
    text-decoration: none;
    color: var(--main-black-color);
    font-weight: 400;
}

.header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: -31px;
    text-decoration-thickness: 2px;
    color: var(--main-blue-color);
}

/***** Main Section ***********/


.main-title h1 {
    margin-bottom: -8px;
}
/** Formulaire de recherche **/
.search-container {
    display: flex;
    width: auto;
    height: 49px;
    margin: 35px 0px 25px 0px;
}

.search-label-icon {
    font-size: 18px;
}

.search-label {
    background-color: var(--main-light-grey-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 14px 18px 16px 18.5px;
}

.search-input { 
    max-width: 195px;
    width: 100%;
    border: 1px solid var(--main-light-grey-color);
    border-right: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.search-input:focus {
    outline: none;
    border: 1px solid var(--main-grey-color);
    border-right: none;
}

.search-button {
    padding: 0px 16px;
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-button-icon {
    font-size: 17px;
    display: none;
    font-weight: 700;
}

span.search-button-text {
    font-size: 18px;
    font-weight: 700;
}

/***** filtres de recherche ******/

.filters-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}

.filter-button {
    font-size: 17px;
    font-weight: 700;
    padding: 13px 19px 13px 19px;
    border: 2px solid var(--main-grey-color);
    background-color: var(--main-white-color);
    border-radius: 25px;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    ;
}

.filters-title {
    display: inline-block;
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.filter-icon {
    margin-right: 8px;
    color: var(--main-blue-color);
}

/***** info resultat de recherche *****/

.info-icon {
    font-size: 12px;
    display: inline-block;
    border: 0.5px solid var(--main-grey-color);
    padding: 6px 9px 6px 10px;
    color: var(--main-blue-color);
    border-radius: 25px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

/***** Footer ***********/
footer {
    display: flex;
    background-color: var(--main-grey-color);
    padding-bottom: 5px;
}

.footer-section {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}

.footer-section a {
    text-decoration: none;
    color: var(--main-black-color);
}

.footer-section ul {
    list-style: none;
    padding: 0px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.footer-section h3 {
    margin: 20px 0px 0px 0px;
    font-size: 18px;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        width: 100%;
        max-width: 375px;
        padding: 0 0px;
        box-sizing: border-box;
    }

    .main-title{
        margin: 0 10px 0 0;
    }

    .main-section {
        padding: 0 10px 0 20px;
    }

    .search-button {       
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
        position: relative;
        left: -10px;
    }
    .search-button-text {
        display: none;
    }
    
    .search-button-icon {
        display: contents;
    }
    .search-input {
        max-width: 100%;
    }
}