/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --main-sel-color: #D9D9D9;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}
/** Container général header, main, footer**/
.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
/** general provisoire **/
h1 , h2 {
    font-size: 22px;
    font-weight: 700;
}
h3 {
    font-weight: 700;
}

i {
    font-size:18px;
}

input {
    font-size:18px;
    font-weight: 700;
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    height:79px;
    margin-bottom: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    width: 33%;
    height: auto;
}

.header-nav ul {
    display: flex;
    align-items: flex-start;
    gap: 68px;
    list-style: none;
}
/** to do: faire évoluer ces lien en bouton? **/
.header-nav a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.header-nav a:hover {
    text-decoration: underline;
    text-underline-offset: -31px;
    text-decoration-thickness: 2px;
    color: var(--main-color);
}
/***** Main Section ***********/

/** Formulaire de recherche **/
.search-form {
    margin: 35px 0px;
    display: flex;
    height: 49px;
}

.search-form label {
    display: inline-flex;
    min-width: 50px;
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--main-bg-color);
    justify-content: center;
    align-items: center;
}

.search-form input{
    width:195px;
    border: 1px solid var(--main-bg-color);
    border-right:none;
    text-align: center;
    font-size:18px;
    font-weight: 700;
}

.search-form input:focus {
    outline: none;
    border: 1px solid var(--main-sel-color);
    border-right:none;
}

.search-form button {
    width:132px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size:18px;
    font-weight: 700;
}



